body{
    margin: 0;
}
.headbar-full{
    margin: 0;
    height: 120px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}


.logo{
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 25%;
}

header h1{
    margin-bottom: 0;
}
#image{
    margin-top: 20px;
}
ul{
    padding: 0;
    list-style-position: inside;
}
table{
    border-collapse: collapse;
}
.small-column{
    width: 25%;
}
.big-column{
    width: 50%;
}
th{
    text-align: left;
    background-color:skyblue ;
    color: white;
}
td{
    padding: 0px;
}
.blue-table{
    background-color: hsl(212, 93%, 74%);
}
footer figure{
    height: 200px;
    width: 300px;
}
figure{
   margin: 0px;
}
.photo-text{
    padding: 10px;
    color: white;

}
#monitor{
    background-image: url(../img/monitor.jpg);
}
#graph{
    background-image: url(../img/graph.jpg);
}



/* utilites */

.text-grey{
    color: grey;
}

.text-blue{
    color: #4ea0ff;
}

.text-small{
    font-size: 12px;
}
.highlighted-text{
    background-color:yellow;
}